body {
  background-color: #F8F9FA;
}

@media (min-width: 1280px) {
  .bx-wrap {
      width: 82%;
  }
}

@media (max-width: 1280px) and (min-width: 64rem) {
  .bx-wrap {
      width: 60%;
  }
}

.bx-wrap {
  margin-left: auto;
  margin-right: auto;
}

.compo-hover--pointer:hover {
  cursor: pointer;
}